*.zip
*.dbg
*.ico
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.dof
*.deb
*.zip
*.ppu
*.bak
*.lib
*.mes
*.o
*.or

FPC_Units/
lib/
out/
backup/
*.pyd
*.lps
demo
*.compiled
